<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.dreams.phototable"
    >
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
 
    <application
        android:label="@string/app_name"
        android:icon="@mipmap/icon"
        android:largeHeap="true">
        <service android:name="PhotoTable"
            android:exported="true"
            android:label="@string/screensaver_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.DREAM" />
            </intent-filter>
        </service>
    </application>
</manifest>
